{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gaijin - {{.Title}}</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <nav class="nav-menu">
            <div class="nav-container">
                <div class="nav-left">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/study" class="nav-link">Study</a>
                    <a href="/profile" class="nav-link">Profile</a>
                </div>
                <div class="nav-right">
                    <a href="/logout" class="nav-link nav-logout">Logout</a>
                </div>
            </div>
        </nav>
        <div class="main-content">
            {{template "content" .}}
        </div>
    </body>
</html>
{{end}}